html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: 0 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Corben", cursive;
  font-size: 20px;
  line-height: 1.3;
}

section {
  background-size: cover;
  height: 100%;
  position: relative;
}

.one .text, .two .text, .three .text, .four .text {
  padding: 20px 20px;
  position: absolute;
}

h2, h1 {
  font-size: 38px;
  font-weight: bold;
}

.one .circle, .two .circle, .three .circle, .four .circle {
  position: absolute;
  bottom: 11px;
  right: 11px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  font-size: 20px;
  line-height: 100px;
  text-align: center;
}

.one {
  background-image: url(/img/fozzie/Fozzie-pose.png);
}
.one .text {
  width: 28%;
  min-width: 300px;
  color: #b75162;
  top: 100px;
  left: 60px;
}
.one .picture img {
  display: none;
}
.one .circle {
  background-color: #b75162;
}
.one .circle i {
  position: relative;
  bottom: 25px;
  color: white;
}

.two {
  background-image: url(/img/fozzie/musical_fozzie.jpg);
}
.two .text {
  width: 40%;
  min-width: 300px;
  color: white;
  top: 80px;
  right: 50px;
}
.two .picture img {
  display: none;
}
.two .circle {
  background-color: white;
}
.two .circle i {
  position: relative;
  bottom: 25px;
  color: #532818;
}

.three {
  background-image: url(/img/fozzie/domestic_fozzie.png);
  background-position: center center;
}
.three .text {
  width: 30%;
  min-width: 300px;
  color: #532818;
  top: 100px;
  left: 50px;
}
.three .picture img {
  display: none;
}
.three .circle {
  background-color: #532818;
}
.three .circle i {
  position: relative;
  bottom: 25px;
  color: white;
}

.four {
  background-image: url(/img/fozzie/fozzie_friends.jpg);
}
.four .text {
  width: 40%;
  color: white;
  top: 10px;
  right: 10px;
}
.four .picture img {
  display: none;
}
.four .circle {
  background-color: white;
}
.four .circle i {
  position: relative;
  bottom: 25px;
  color: #532818;
}

.five {
  background-image: url(/img/fozzie/muppets-last.jpg);
  position: relative;
}
.five .picture img {
  display: none;
}
.five .form {
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  display: inline-block;
  content: "";
  top: 10%;
  left: 25%;
  padding: 30px;
  border-radius: 10px 10px;
}
.five .form .text {
  width: 75%;
  line-height: 10px;
}
.five .form .name {
  border-radius: 5px 5px;
  height: 25px;
  box-shadow: none;
  width: 200px;
}
.five .form .submit {
  position: relative;
  vertical-align: top;
  width: 30%;
  height: 50px;
  margin: 20px 0 0 0;
  font-size: 20px;
  color: white;
  text-align: center;
  background: #00bd2f;
  border: 0;
  border-radius: 5px 5px;
  border-bottom: 2px solid #00CC33;
}

@media only screen and (max-width: 400px) {
  section {
    height: 76%;
  }

  .one, .two, .three, .four, .five {
    background: none;
    margin: 0 auto;
    width: 100%;
  }
  .one .picture img, .two .picture img, .three .picture img, .four .picture img, .five .picture img {
    position: relative;
    display: inline-block;
    max-width: 500px;
    width: 100%;
    min-width: 100px;
    height: 400px;
  }
  .one .circle, .two .circle, .three .circle, .four .circle, .five .circle {
    display: none;
  }
  .one .text, .two .text, .three .text, .four .text, .five .text {
    position: relative;
    top: 0;
    left: 0;
    text-align: center;
    padding: 10px;
    width: 100%;
  }
  .one .text h2, .one .text h1, .two .text h2, .two .text h1, .three .text h2, .three .text h1, .four .text h2, .four .text h1, .five .text h2, .five .text h1 {
    font-size: 22px;
  }
  .one .text p, .two .text p, .three .text p, .four .text p, .five .text p {
    font-size: 14px;
  }
  .one .form, .two .form, .three .form, .four .form, .five .form {
    position: relative;
    top: 0;
    left: 0;
    background-color: white;
    text-align: left;
    padding: 10px;
    width: 100%;
    border-radius: 0px 0px;
  }
  .one .form h2, .one .form h1, .two .form h2, .two .form h1, .three .form h2, .three .form h1, .four .form h2, .four .form h1, .five .form h2, .five .form h1 {
    font-size: 22px;
    text-align: center;
  }
  .one .form p, .one .form .submit, .two .form p, .two .form .submit, .three .form p, .three .form .submit, .four .form p, .four .form .submit, .five .form p, .five .form .submit {
    font-size: 14px;
  }

  .two .text {
    color: black;
  }

  .four .text {
    color: black;
    margin-top: 15px;
  }

  .four {
    max-height: 485px;
  }

  .three {
    max-height: 485px;
  }
}
