@import "library";
@import "reset";

// Global templates

%group:after {
    display: table;
    clear: both;
    content: "";
}

%container {
    margin: 0 auto;
    max-width: 960px;
}

// Global tags

body {
    background: pink;
}

a {
    color: #800000;
}

// Everything else
