@import "library";
@import "reset";

@import "compass/css3/box-shadow";

// Global templates

%group:after {
    display: table;
    clear: both;
    content: "";
}

%container {
    margin: 0 auto;
    max-width: 960px;
}

// Global tags

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: "Corben", cursive;
    font-size: 20px;
    line-height: 1.3;
}


// Everything else

section {
    background-size: cover;
    height: 100%;
    position: relative;
}

%text {
    padding: 20px 20px;
    position: absolute;
}

h2, h1 {
    font-size: 38px;
    font-weight: bold;
}

.one {
    background-image:url(/img/fozzie/Fozzie-pose.png);

    .text {
        @extend %text;
        width: 28%;
        min-width: 300px;
        color: rgba(183, 81, 98, 1);
        top: 150px;
        left: 60px;
    }
    .picture img {
        display: none;
    }
}

.two {
    background-image:url(/img/fozzie/musical_fozzie.jpg);

    .text {
        @extend %text;
        width: 40%;
        min-width: 300px;
        color: white;
        top: 80px;
        right: 50px;
    }
    .picture img {
        display: none;
    }
}

.three {
    background-image:url(/img/fozzie/domestic_fozzie.png);
    background-position: center center;

    .text {
        @extend %text;
        width: 30%;
        min-width: 300px;
        color: rgba(83, 40, 24, 1);
        top: 150px;
        left: 100px;
    }
    .picture img {
        display: none;
    }

}

.four {
    background-image:url(/img/fozzie/fozzie_friends.jpg);

    .text {
        @extend %text;
        width: 40%;
        color: white;
        top: 10px;
        right: 10px;
    }
    .picture img {
        display: none;
    }

}

.five {
    background-image:url(/img/fozzie/muppets-last.jpg);
    position: relative;
    .form {
        background-color: rgba(white, .9);
        position: absolute;
        display: inline-block;
        content: "";
        top: 10%;
        left: 25%;
        padding: 30px;
        border-radius: 10px 10px;
        .text {
            width: 75%;
            line-height: 10px;
        }
        .name {
            border-radius: 5px 5px;
            height: 25px;
            box-shadow: none;
            width: 200px;
        }
        .submit {
             position: relative;
             vertical-align: top;
             width: 30%;
             height: 50px;
             margin: 10px 0 0 0;
             font-size: 20px;
             color: white;
             text-align: center;
             background: #e74c3c;
             border: 0;
             border-radius: 5px 5px;
             border-bottom: 2px solid #db4334;
                }
        }
}

@media screen and (max-width: 600px) {
    section {
        height: 76%;
    }
    .one, .two, .three, .four {
        background: none;

        .picture img {
            position: relative;
            display: inline-block;
            max-width: 600px;
            min-width: 100px;
            height: 400px;
        }
        .text {
            position: relative;
            top: 0;
            left: 0;
            text-align: center;
            padding: 10px;
            width: 100%;
            h2, h1 {
                font-size: 22px;
            }
            p {
                font-size: 14px;
            }
        }
        }

        .two .text {
            color: black;
        }

        .four .text {
            color: black;
        }
        .four {
            max-height: 485px;
        }
        .three {
            max-height: 485px;
        }


    }




